<p id="notice"><%= notice %></p>

<h1>Liste des pottins</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
  <%= link_to 'New Gossip', new_gossip_path %>

    <% @gossips.each do |gossip| %>
      <tr>
        <td><%= gossip.id %></td>
        <td><%= gossip.title %></td>
        <td><%= link_to 'Voir', gossip, {:class=>"btn btn-primary" } %></td>
        <td><%#= link_to 'Edit', edit_gossip_path(gossip) , {:class=>"btn btn-primary" } %></td>
        <td><%#= link_to 'Destroy', gossip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

