<p id="notice"><%= notice %></p>

<%#= link_to 'Edit', edit_gossip_path(@gossip) %> |
<%= link_to 'Back', gossips_path %>

<h2><%=@gossip.id%> - <%=@gossip.title%></h2>
<p><%=@gossip.content%></p>
<h6>Potin creer par  <%= link_to @gossip.user.first_name , user_path(@gossip.user) %> </h6>
